@model IEnumerable<FA.JustBlog.Website.Models.TagVm>

@{
    ViewData["Title"] = "All Tags";
}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>@ViewData["Title"]</h1>
            <p>
                <a asp-action="Create">Create New Tag</a>
            </p>
            @foreach (var item in Model)
            {
                <hr class="my-4" />
                <div class="post-preview">
                    <h2 class="post-title">@Html.ActionLink(item.Name, "Details", new { id = item.Id })</h2>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            }
        </div>
    </div>
</div>