@model FA.JustBlog.Website.Models.PostVm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Post</h1>
<hr />

<div class="container-fluid">
    <div class="col-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Post Title: </label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>

                <label asp-for="ShortDescription" class="control-label">Short Description: </label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>

                <label asp-for="PostContent" class="control-label">Write something about this: </label>
                <textarea asp-for="PostContent" class="form-control"></textarea>
                <span asp-validation-for="PostContent" class="text-danger"></span>

                @* <label asp-for="UrlSlug" class="control-label">Url Slug</label>
                <input asp-for="UrlSlug" class="form-control" />
                <span asp-validation-for="UrlSlug" class="text-danger"></span> *@

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                    </label>
                </div>

                @* <label asp-for="CategoryId" class="control-label">Choose a category: </label>
                <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,"Value","Text"))"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
 *@
                @* <label asp-for="TagId" class="control-label">Choose a tag: </label>
                <select class="form-control" asp-for="TagId" asp-items="@(new SelectList(ViewBag.Tags,"Value","Text"))"></select>
                <span asp-validation-for="TagId" class="text-danger"></span>
                *@

                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

