@model FA.JustBlog.Website.Models.PostVm

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Post</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" hidden />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>

                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>

                <label asp-for="PostContent" class="control-label"></label>
                <textarea asp-for="PostContent" class="form-control"></textarea>
                <span asp-validation-for="PostContent" class="text-danger"></span>

                @* <label asp-for="UrlSlug" class="control-label"></label>
                <input asp-for="UrlSlug" class="form-control" />
                <span asp-validation-for="UrlSlug" class="text-danger"></span> *@

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                    </label>
                </div>
                <input asp-for="PostedOn" class="form-control" hidden />
                <input asp-for="Modified" class="form-control" hidden />
                <input asp-for="ViewCount" class="form-control" hidden />
                <input asp-for="RateCount" class="form-control" hidden />
                <input asp-for="TotalRate" class="form-control" hidden />
                <input asp-for="Rate" class="form-control" hidden />
                <input asp-for="CategoryId" class="form-control" hidden />
                <input asp-for="TagId" class="form-control" hidden />

                @* <label for="CategoryId" class="control-label">Choose a category: </label>
                <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList( ViewBag.Categories,"Value","Text"))"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span> *@

                @* <div class="form-group">
                <label for="TagId" class="control-label">Choose a tag: </label>
                <select class="form-control" asp-for="TagId" asp-items="@(new SelectList( ViewBag.Tags,"Value","Text"))"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div> *@

                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

